* {
  margin: auto;
}
h1 {
  text-align: center;
  margin: 0.5em auto auto auto;
  color: #666;
  padding: 0.5em;
  border: 0.1em solid #666;
  width:max-content;
  border-radius: 0.5em;
  font-size: 40pt;
}
.about-paragraph {
  background-color: #fff0;
  transition: background 1.5s ease;
}
.about-paragraph:hover {
background-color: #ffff;
}
span h2 {

}
.about-paragraph div {
  margin: 0.5em;
  padding: 0.5em;
}
