* {
	font-family: 'Source Serif Pro', serif;
}
/* font-family: 'Source Serif Pro', serif;
	font-weight: 200/300/400/600/700/900*/
body {
	background-color: #39f6;
	font-size: 20px;
	line-height: 1.4em;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
nav {
	display: flex;
	transition: all 0.5s ease;
	opacity: 0.25;
	background-color: transparent;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	color: #fff;
	padding: 0.5em;
}
nav:hover {
	opacity: 1;
	background-color: #06c;
	border-bottom-left-radius: 10em;
	border-bottom-right-radius: 10em;
}
nav h2 {
	font-size: 26pt;
	border: 0.1em solid white;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: auto;
}
nav div {
	border: 0px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}
nav div a {
	color: #fff;
	font-size: 20pt;
	border: 0.1em solid white;
	border-radius: 2em;
	margin: 0.2em;
	padding: 0.3em;
	text-decoration: none;
	transition: all 1.2s ease;
}
nav div a:hover {
	background-color: #fff;
	color: #000;
}
